// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-footer-contacts-adress-name: 'sprite-footer--contacts__adress';
$sprite-footer-contacts-adress-x: 161px;
$sprite-footer-contacts-adress-y: 48px;
$sprite-footer-contacts-adress-offset-x: -161px;
$sprite-footer-contacts-adress-offset-y: -48px;
$sprite-footer-contacts-adress-width: 19px;
$sprite-footer-contacts-adress-height: 24px;
$sprite-footer-contacts-adress-total-width: 185px;
$sprite-footer-contacts-adress-total-height: 154px;
$sprite-footer-contacts-adress-image: '../img/gulp_png_sprite.png';
$sprite-footer-contacts-adress: (161px, 48px, -161px, -48px, 19px, 24px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-footer--contacts__adress', );
$sprite-footer-contacts-email-name: 'sprite-footer--contacts__email';
$sprite-footer-contacts-email-x: 161px;
$sprite-footer-contacts-email-y: 72px;
$sprite-footer-contacts-email-offset-x: -161px;
$sprite-footer-contacts-email-offset-y: -72px;
$sprite-footer-contacts-email-width: 19px;
$sprite-footer-contacts-email-height: 14px;
$sprite-footer-contacts-email-total-width: 185px;
$sprite-footer-contacts-email-total-height: 154px;
$sprite-footer-contacts-email-image: '../img/gulp_png_sprite.png';
$sprite-footer-contacts-email: (161px, 72px, -161px, -72px, 19px, 14px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-footer--contacts__email', );
$sprite-footer-contacts-phone-name: 'sprite-footer--contacts__phone';
$sprite-footer-contacts-phone-x: 161px;
$sprite-footer-contacts-phone-y: 24px;
$sprite-footer-contacts-phone-offset-x: -161px;
$sprite-footer-contacts-phone-offset-y: -24px;
$sprite-footer-contacts-phone-width: 24px;
$sprite-footer-contacts-phone-height: 24px;
$sprite-footer-contacts-phone-total-width: 185px;
$sprite-footer-contacts-phone-total-height: 154px;
$sprite-footer-contacts-phone-image: '../img/gulp_png_sprite.png';
$sprite-footer-contacts-phone: (161px, 24px, -161px, -24px, 24px, 24px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-footer--contacts__phone', );
$sprite-home-contacts-email-name: 'sprite-home--contacts__email';
$sprite-home-contacts-email-x: 89px;
$sprite-home-contacts-email-y: 120px;
$sprite-home-contacts-email-offset-x: -89px;
$sprite-home-contacts-email-offset-y: -120px;
$sprite-home-contacts-email-width: 30px;
$sprite-home-contacts-email-height: 21px;
$sprite-home-contacts-email-total-width: 185px;
$sprite-home-contacts-email-total-height: 154px;
$sprite-home-contacts-email-image: '../img/gulp_png_sprite.png';
$sprite-home-contacts-email: (89px, 120px, -89px, -120px, 30px, 21px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--contacts__email', );
$sprite-home-contacts-form-name: 'sprite-home--contacts__form';
$sprite-home-contacts-form-x: 161px;
$sprite-home-contacts-form-y: 0px;
$sprite-home-contacts-form-offset-x: -161px;
$sprite-home-contacts-form-offset-y: 0px;
$sprite-home-contacts-form-width: 24px;
$sprite-home-contacts-form-height: 24px;
$sprite-home-contacts-form-total-width: 185px;
$sprite-home-contacts-form-total-height: 154px;
$sprite-home-contacts-form-image: '../img/gulp_png_sprite.png';
$sprite-home-contacts-form: (161px, 0px, -161px, 0px, 24px, 24px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--contacts__form', );
$sprite-home-contacts-mapico-name: 'sprite-home--contacts__mapico';
$sprite-home-contacts-mapico-x: 34px;
$sprite-home-contacts-mapico-y: 120px;
$sprite-home-contacts-mapico-offset-x: -34px;
$sprite-home-contacts-mapico-offset-y: -120px;
$sprite-home-contacts-mapico-width: 26px;
$sprite-home-contacts-mapico-height: 34px;
$sprite-home-contacts-mapico-total-width: 185px;
$sprite-home-contacts-mapico-total-height: 154px;
$sprite-home-contacts-mapico-image: '../img/gulp_png_sprite.png';
$sprite-home-contacts-mapico: (34px, 120px, -34px, -120px, 26px, 34px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--contacts__mapico', );
$sprite-home-contacts-phone-name: 'sprite-home--contacts__phone';
$sprite-home-contacts-phone-x: 60px;
$sprite-home-contacts-phone-y: 120px;
$sprite-home-contacts-phone-offset-x: -60px;
$sprite-home-contacts-phone-offset-y: -120px;
$sprite-home-contacts-phone-width: 29px;
$sprite-home-contacts-phone-height: 29px;
$sprite-home-contacts-phone-total-width: 185px;
$sprite-home-contacts-phone-total-height: 154px;
$sprite-home-contacts-phone-image: '../img/gulp_png_sprite.png';
$sprite-home-contacts-phone: (60px, 120px, -60px, -120px, 29px, 29px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--contacts__phone', );
$sprite-home-why-ico-1-name: 'sprite-home--why__ico-1';
$sprite-home-why-ico-1-x: 61px;
$sprite-home-why-ico-1-y: 0px;
$sprite-home-why-ico-1-offset-x: -61px;
$sprite-home-why-ico-1-offset-y: 0px;
$sprite-home-why-ico-1-width: 60px;
$sprite-home-why-ico-1-height: 60px;
$sprite-home-why-ico-1-total-width: 185px;
$sprite-home-why-ico-1-total-height: 154px;
$sprite-home-why-ico-1-image: '../img/gulp_png_sprite.png';
$sprite-home-why-ico-1: (61px, 0px, -61px, 0px, 60px, 60px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--why__ico-1', );
$sprite-home-why-ico-2-name: 'sprite-home--why__ico-2';
$sprite-home-why-ico-2-x: 0px;
$sprite-home-why-ico-2-y: 0px;
$sprite-home-why-ico-2-offset-x: 0px;
$sprite-home-why-ico-2-offset-y: 0px;
$sprite-home-why-ico-2-width: 61px;
$sprite-home-why-ico-2-height: 60px;
$sprite-home-why-ico-2-total-width: 185px;
$sprite-home-why-ico-2-total-height: 154px;
$sprite-home-why-ico-2-image: '../img/gulp_png_sprite.png';
$sprite-home-why-ico-2: (0px, 0px, 0px, 0px, 61px, 60px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--why__ico-2', );
$sprite-home-why-ico-3-name: 'sprite-home--why__ico-3';
$sprite-home-why-ico-3-x: 0px;
$sprite-home-why-ico-3-y: 60px;
$sprite-home-why-ico-3-offset-x: 0px;
$sprite-home-why-ico-3-offset-y: -60px;
$sprite-home-why-ico-3-width: 60px;
$sprite-home-why-ico-3-height: 60px;
$sprite-home-why-ico-3-total-width: 185px;
$sprite-home-why-ico-3-total-height: 154px;
$sprite-home-why-ico-3-image: '../img/gulp_png_sprite.png';
$sprite-home-why-ico-3: (0px, 60px, 0px, -60px, 60px, 60px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--why__ico-3', );
$sprite-home-why-ico-4-name: 'sprite-home--why__ico-4';
$sprite-home-why-ico-4-x: 60px;
$sprite-home-why-ico-4-y: 60px;
$sprite-home-why-ico-4-offset-x: -60px;
$sprite-home-why-ico-4-offset-y: -60px;
$sprite-home-why-ico-4-width: 57px;
$sprite-home-why-ico-4-height: 60px;
$sprite-home-why-ico-4-total-width: 185px;
$sprite-home-why-ico-4-total-height: 154px;
$sprite-home-why-ico-4-image: '../img/gulp_png_sprite.png';
$sprite-home-why-ico-4: (60px, 60px, -60px, -60px, 57px, 60px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-home--why__ico-4', );
$sprite-vacancies-item-it-name: 'sprite-vacancies--item__it';
$sprite-vacancies-item-it-x: 121px;
$sprite-vacancies-item-it-y: 35px;
$sprite-vacancies-item-it-offset-x: -121px;
$sprite-vacancies-item-it-offset-y: -35px;
$sprite-vacancies-item-it-width: 40px;
$sprite-vacancies-item-it-height: 34px;
$sprite-vacancies-item-it-total-width: 185px;
$sprite-vacancies-item-it-total-height: 154px;
$sprite-vacancies-item-it-image: '../img/gulp_png_sprite.png';
$sprite-vacancies-item-it: (121px, 35px, -121px, -35px, 40px, 34px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-vacancies--item__it', );
$sprite-vacancies-item-fit-name: 'sprite-vacancies-item-fit';
$sprite-vacancies-item-fit-x: 0px;
$sprite-vacancies-item-fit-y: 120px;
$sprite-vacancies-item-fit-offset-x: 0px;
$sprite-vacancies-item-fit-offset-y: -120px;
$sprite-vacancies-item-fit-width: 34px;
$sprite-vacancies-item-fit-height: 34px;
$sprite-vacancies-item-fit-total-width: 185px;
$sprite-vacancies-item-fit-total-height: 154px;
$sprite-vacancies-item-fit-image: '../img/gulp_png_sprite.png';
$sprite-vacancies-item-fit: (0px, 120px, 0px, -120px, 34px, 34px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-vacancies-item-fit', );
$sprite-vacancies-item-med-name: 'sprite-vacancies-item-med';
$sprite-vacancies-item-med-x: 121px;
$sprite-vacancies-item-med-y: 0px;
$sprite-vacancies-item-med-offset-x: -121px;
$sprite-vacancies-item-med-offset-y: 0px;
$sprite-vacancies-item-med-width: 40px;
$sprite-vacancies-item-med-height: 35px;
$sprite-vacancies-item-med-total-width: 185px;
$sprite-vacancies-item-med-total-height: 154px;
$sprite-vacancies-item-med-image: '../img/gulp_png_sprite.png';
$sprite-vacancies-item-med: (121px, 0px, -121px, 0px, 40px, 35px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-vacancies-item-med', );
$sprite-vacancies-item-mus-name: 'sprite-vacancies-item-mus';
$sprite-vacancies-item-mus-x: 121px;
$sprite-vacancies-item-mus-y: 69px;
$sprite-vacancies-item-mus-offset-x: -121px;
$sprite-vacancies-item-mus-offset-y: -69px;
$sprite-vacancies-item-mus-width: 38px;
$sprite-vacancies-item-mus-height: 35px;
$sprite-vacancies-item-mus-total-width: 185px;
$sprite-vacancies-item-mus-total-height: 154px;
$sprite-vacancies-item-mus-image: '../img/gulp_png_sprite.png';
$sprite-vacancies-item-mus: (121px, 69px, -121px, -69px, 38px, 35px, 185px, 154px, '../img/gulp_png_sprite.png', 'sprite-vacancies-item-mus', );
$spritesheet-width: 185px;
$spritesheet-height: 154px;
$spritesheet-image: '../img/gulp_png_sprite.png';
$spritesheet-sprites: ($sprite-footer-contacts-adress, $sprite-footer-contacts-email, $sprite-footer-contacts-phone, $sprite-home-contacts-email, $sprite-home-contacts-form, $sprite-home-contacts-mapico, $sprite-home-contacts-phone, $sprite-home-why-ico-1, $sprite-home-why-ico-2, $sprite-home-why-ico-3, $sprite-home-why-ico-4, $sprite-vacancies-item-it, $sprite-vacancies-item-fit, $sprite-vacancies-item-med, $sprite-vacancies-item-mus, );
$spritesheet: (185px, 154px, '../img/gulp_png_sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
