@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";
@import "import/wordpress";

@import 'grid/bootstrap-grid';

@import "gulp_png_sprite";

body {
  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  font-family: $font-base;
  font-size: $base-font-size;
  font-weight: $flight;
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
  &.page-template-front-page {
    header {
      height: 760px;

      background-image: url(../img/header-bg-home.png);
    }
  }
  &.page-template-page-about {
    header {
      background-image: url(../img/header-bg-about.png);
    }
  }
  &.tax-categories,
  &.single-vacancies {
    header {
      background-image: url(../img/header-bg-vacancies.png);
    }
  }
  &.page-template-page-contacts {
    background-image: url(../img/contacts-page-bg.png);
    background-repeat: no-repeat;
    background-position: center 450px;
    header {
      background-image: url(../img/header-bg-contacts.png);
    }
    .block-content--title {
      margin-bottom: 0;
    }
    .block-postcontact {
      margin-bottom: 30px;
      padding-top: 30px;

      background-image: none;
      .block-postcontact--left {
        color: #000;
        a {
          color: #000;
        }
        h6 {
          display: none;
        }
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;

  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}
button {
  &:hover {
    background-color: $blue-light;
  }
}

header {
  height: 420px;
  margin-bottom: 80px;

  background-image: url(../img/header-bg-about.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header--logo {
  display: block;

  padding-top: 22px;
  img {
    max-width: 100%;
  }
}
.header--nav {
  padding-top: 40px;
  ul {
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a {
    color: #fff;

    font-size: 21px;
    line-height: 19px;
  }
  li {
    &:hover {
      a {
        text-decoration: underline;

        color: $blue-light;
      }
    }
    &.current-menu-item {
      a {
        color: $blue-light;
      }
    }
  }
}
.header--contacts {
  padding-top: 30px;

  text-align: right;
  .header--phone {
    display: block;

    margin-bottom: 22px;

    text-decoration: none;

    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    font-family: $font-pfdin;
    font-size: 40px;
    line-height: 24px;
    &:last-child {
      margin-bottom: 14px;
    }
    span {
      color: $blue-light;
    }
  }
  .header--workingtime {
    text-transform: uppercase;

    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    font-family: $font-pfdin;
    font-size: 21px;
    line-height: 21px;
  }
}
.header--search {
  margin-bottom: 90px;
  padding-top: 100px;

  line-height: 19px;
  .header--search__title,
  .header--search__descr {
    text-align: center;

    color: #ffffff;

    font-weight: 200;
  }
  .header--search__title {
    font-size: 63px;
  }
  .header--search__descr {
    font-size: 37px;

  }
  .header--search__form {
    position: relative;

    height: 60px;

    font-size: 16px;
    font-weight: 300;
  }
  select,
  input,
  button {
    position: absolute;
    top: 0;
    bottom: 0;

    margin: 0;

    outline: none;
  }
  select,
  button {
    z-index: 2;

    height: 60px;

    border-radius: 30px;
  }
  select {
    left: 0;

    width: 270px;
    padding-left: 30px;

    color: #000000;
    background-color: #ebebeb;
  }
  option {
    padding: 10px 30px;

    color: #000000;
    background-color: #ebebeb;
  }
  input {
    z-index: 1;
    right: 30px;
    left: 240px;

    width: 60%;
    padding-left: 40px;

    background-color: #fff;
  }
  button {
    right: 0;

    width: 170px;

    text-transform: uppercase;

    color: #ffffff;
    background-color: $blue-light;
  }
}
.header--qoute {
  text-align: center;

  color: #ffffff;

  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  blockquote {
    position: relative;

    margin-bottom: 14px;
    padding-bottom: 18px;

    font-size: 21px;
    &:after {
      position: absolute;
      left: 50%;

      width: 170px;
      height: 1px;
      margin-left: -85px;

      background-color: #5a5c5c;

      @extend .dblock;
    }
  }
  .header--qoute__author {
    color: $blue-light;
  }
  .header--qoute__post {
    font-style: italic;
    line-height: 21px;
  }
}
nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.home--blocktitle {
  position: relative;

  margin-bottom: 25px;
  padding-bottom: 20px;

  text-align: center;

  color: #000000;

  font-size: 50px;
  font-weight: 200;
  line-height: 28px;
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 40px;
    height: 1px;
    margin-left: -20px;

    background-color: $blue-light;

    @extend .dblock;
  }
}
.home--about {
  margin-bottom: 20px;
  .home--about__title {
    @extend .home--blocktitle;
  }
  .home--about__image {
    // background-image: url(../img/home--about.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }
  .home--about__content {
    h6,
    p{
      width: 362px;
    }
    h6 {
      margin-bottom: 20px;

      color: $blue;

      font-size: 28px;
      line-height: 37px;
    }
    p {
      margin-bottom: 28px;

      color: #000000;

      font-size: 16px;
      line-height: 21px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}
.home--why {
  padding-top: 50px;
  padding-bottom: 30px;

  background-color: $blue;
	.home--why__item {
    position: relative;

    padding-top: 120px;

    text-align: center;

    color: #fff;

    line-height: 21px;
    &:before{
      position: absolute;
      top: -50px;
      left: 50%;

      margin-left: -20px;

      @extend .dblock;
      @include triangle(40px 19px, #eeeeed transparent, down);
    }

	  p {
      margin-bottom: 0;
	  }
  }
  .home--why__ico {
    &:before,
    &:after {
      position: absolute;
      left: 50%;

      @extend .dblock;
    }
    &:before {
      top: 0;

      margin-left: -30px;
    }
    &:after {
      top: 86px;

      width: 70px;
      height: 1px;
      margin-left: -35px;

      background-color: $blue-light;
    }
    &.home--why__ico-1{
      &:before {
        margin-left: -29px;

        @include sprite($sprite-home-why-ico-4);
      }
    }
    &.home--why__ico-2{
      &:before {
        @include sprite($sprite-home-why-ico-3);
      }
    }
    &.home--why__ico-3{
      &:before {
        @include sprite($sprite-home-why-ico-2);
      }
    }
    &.home--why__ico-4{
      &:before {
        @include sprite($sprite-home-why-ico-1);
      }
    }
  }
}

.vacancies {
  padding-top: 50px;

  background-color: #fff;
  .vacancies--title {
    @extend .home--blocktitle;
  }
	.vacancies--item {
    margin-bottom: 30px;
    padding-top: 55px;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;

      margin-left: -20px;

      @extend .dblock;
    }
	  &.vacancies--item__it{
      &:before {
        @include sprite($sprite-vacancies-item-it);
      }
    }
    &.vacancies--item__fit{
      &:before {
        margin-left: -17px;

        @include sprite($sprite-vacancies-item-fit);
      }
    }
    &.vacancies--item__mus{
      &:before {
        margin-left: -19px;

        @include sprite($sprite-vacancies-item-mus);
      }
    }
    &.vacancies--item__med{
      &:before {
        @include sprite($sprite-vacancies-item-med);
      }
    }
	  .vacancies--subtitle {
      text-align: center;

      color: $blue;

      font-size: 28px;
      line-height: 37px;
	  }
	  li {
      margin-bottom: 10px;
      &:before {
        display: inline-block;

        margin-right: 5px;

        content: "•";

        color: $blue-light;
      }
	  }
	  a {
      text-decoration: none;

      color: #000000;

      font-size: 16px;
      line-height: 30px;
      &:hover{
        text-decoration: underline;
      }
	  }
	}

  .vacancies--showall {
    position: relative;

    height: 30px;
    a {
      position: absolute;
      bottom: -30px;
      left: 50%;

      width: 370px;
      height: 60px;
      margin-left: -185px;

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      border-radius: 30px;
      background-color: $blue;

      font-size: 21px;
      line-height: 2.8;
      &:hover {
        background-color: $blue-light;
      }
    }
  }

  &.vacancies-inner {
    margin-bottom: 80px;
  }
}
.home--contacts {
  padding-top: 110px;
  padding-bottom: 80px;
  // background-image: url(../img/home--contacts.png);

  background-repeat: no-repeat;
  background-position: center;
  .home--contacts__content {
    margin-bottom: 50px;

    text-align: center;

    color: #000000;
    h6 {
      @extend .home--blocktitle;
    }
  }
  .home--contacts__mapico,
  .home--contacts__phone,
  .home--contacts__email {
    position: relative;

    padding-top: 42px;

    font-size: 21px;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;

      margin-left: -15px;

      @extend .dblock;
    }
  }
  .home--contacts__mapico,
  .home--contacts__phone {
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 170px;
      height: 1px;
      margin-left: -85px;

      background-color: $blue-light;

      @extend .dblock;
    }
  }
  .home--contacts__mapico {
    &:before {
      margin-left: -13px;

      @include sprite($sprite-home-contacts-mapico);
    }
  }
  .home--contacts__phone {
    &:before {
      @include sprite($sprite-home-contacts-phone);
    }
    a {
      color: #000000;
      &:hover{
        color: $blue;
      }
    }
    span {
      color: $blue;
    }
  }
  .home--contacts__email {
    &:before {
      @include sprite($sprite-home-contacts-email);
    }
    a {
      color: #000000;
    }
  }
  .home--contacts__map {
    margin-bottom: 50px;

    background-repeat: no-repeat;
    background-position: center;
    // background-image: url(../img/home--contacts__map.png);
  }
  .home--contacts__image {
    background-repeat: no-repeat;
    background-position: center;
    // background-image: url(../img/home--contacts__image.png);
  }
  .home--contacts__form {
    h6 {
      text-align: center;

      @extend .home--blocktitle;
    }
    form {
      position: relative;
      &:before {
        position: absolute;
        top: 13px;
        left: 27px;

        @extend .dblock;
        @include sprite($sprite-home-contacts-form);
      }
    }
    input{
      font-size: 16px;
      &[type=text]{
        height: 50px;
        margin-bottom: 12px;
        padding-left: 84px;

        border: 1px solid #d4d0c8;
        border-radius: 25px;
        background-color: #ffffff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
      }
      &[type=submit] {
        display: block;

        width: 200px;
        height: 60px;
        margin: 0 auto 20px;

        text-transform: uppercase;

        color: #ffffff;
        border-radius: 30px;
        background-color: $blue;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        &:hover {
          background-color: $blue-light;
        }
      }
    }
    textarea {
      height: 140px;
      margin-bottom: 20px;
      padding: 20px;

      border: 1px solid #d4d0c8;
      border-radius: 16px;
      background-color: #ffffff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

      font-size: 14px;
    }
    p {
      text-align: center;

      color: #000000;

      font-size: 12px;
      line-height: 16px;
    }
  }
}
.block-about {
  padding-top: 50px;
  padding-bottom: 10px;
	p {
    margin-bottom: 28px;

    font-size: 16px;
    line-height: 21px;
	}
  .block-about--title {
    margin-bottom: 24px;

    text-align: center;

    color: $blue;

    font-size: 28px;
    line-height: 37px;
    span {
      display: block;
    }
  }
  .block-about--subtitle {
    width: 100%;

    @extend .home--blocktitle;
  }
  .block-about--halfimage {
    margin-bottom: 30px;
		&.block-about--halfimage__left{
      display: flex;
      align-content: center;
      align-items: flex-end;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      width: 40%;
    }
    &.block-about--halfimage__right{
      width: 60%;

      background-image: url(../img/block-about--halfimage__right.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    h4 {
      width: 400px;
      margin-bottom: 30px;

      color: $blue;

      font-size: 28px;
      line-height: 37px;
    }
    p {
      width: 400px;
      margin-bottom: 30px;
    }
  }
  .block-about--list {
    width: 400px;
    li {
      position: relative;

      display: flex;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      height: 70px;
      margin-bottom: 20px;
      padding-left: 85px;

      color: #000;
      background-color: #d4d0c8;

      font-size: 21px;
      line-height: 3.1;
      &:last-child{
        margin-bottom: 0;
      }
      &:before,
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;

        @extend .dblock;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;

        @include triangle(25px 70px, $base-background-color, down-right);
      }
    }
    .block-about--list_ico-1 {
      &:before {
        @include sprite($sprite-block-about-list-ico-1);
      }
    }
    .block-about--list_ico-2 {
      &:before {
        @include sprite($sprite-block-about-list-ico-2);
      }
    }
    .block-about--list_ico-3 {
      &:before {
        @include sprite($sprite-block-about-list-ico-3);
      }
    }
  }
}
.block-content {

  .block-content--content {
    h4 {
      margin-bottom: 14px;

      color: $blue;

      font-size: 28px;
      line-height: 37px;
    }
    p {
      color: #000000;

      font-size: 16px;
      line-height: 21px;
    }
    ul, ol {
      margin-bottom: 14px;
      padding: 0;
    }
    li {
      padding-left: 20px;

      color: #000000;
      border-bottom: 1px solid #d4d0c8;

      font-size: 16px;
      line-height: 40px;
      &:before {
        display: inline-block;

        margin-right: 5px;

        content: "•";

        color: $blue-light;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .block-content--widget {
    position: relative;

    padding-top: 70px;
    padding-bottom: 40px;

    background-color: #ffffff;
    &:before {
      position: absolute;
      top: 20px;
      left: 50%;

      margin-left: -20px;

      @extend .dblock;
    }
    &.block-content--widget__it{
      &:before {
        @include sprite($sprite-vacancies-item-it);
      }
    }
    &.block-content--widget__fit{
      &:before {
        margin-left: -17px;

        @include sprite($sprite-vacancies-item-fit);
      }
    }
    &.block-content--widget__mus{
      &:before {
        margin-left: -19px;

        @include sprite($sprite-vacancies-item-mus);
      }
    }
    &.block-content--widget__med{
      &:before {
        @include sprite($sprite-vacancies-item-med);
      }
    }
    ul,ol {
      padding-right: 5px;
      padding-left: 5px;
    }
    li {
      margin-bottom: 14px;
      &:before {
        display: inline-block;

        margin-right: 5px;

        content: "•";

        color: $blue-light;
      }
      a {
        color: #000000;
      }
      &:hover {
        a {
          text-decoration: underline;

          color: $blue;
        }
      }
    }
  }
  .block-content--widget__title {
    text-align: center;

    color: $blue;

    font-size: 28px;
    line-height: 37px;
  }
  .block-content--widget__allvacancies {
    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 230px;
    height: 60px;
    margin-left: -115px;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 30px;
    background-color: $blue;

    font-size: 21px;
    line-height: 2.8;
    &:hover{
      background-color: $blue-light;
    }
  }
}
.block-content--title {
  text-align: center;

  @extend .home--blocktitle;
}
.block-quote {
  padding-top: 185px;
  padding-bottom: 140px;

  text-align: center;

  color: #000000;
  // background-image: url(../img/block-quote.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .block-quote--title {
    font-size: 50px;
    line-height: 67px;
    span {
      display: block;
    }
  }
  .block-quote--content {
    position: relative;

    margin-bottom: 18px;
    padding-bottom: 25px;

    font-size: 21px;
    line-height: 28px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 170px;
      height: 1px;
      margin-left: -85px;

      background-color: $blue;

      @extend .dblock;
    }
  }
  .block-quote--name {
    margin-bottom: 10px;

    color: $blue;

    line-height: 28px;
  }
  .block-quote--post {
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
  }
}
.block-postcontact {
  padding-top: 74px;

  background-image: url(../img/block-postcontact.png);
  background-repeat: no-repeat;
  background-position: center;
  .block-postcontact--left {
    padding-top: 36px;
    padding-bottom: 36px;

    text-align: center;

    color: #ffffff;


    h6 {
      margin-bottom: 19px;

      font-size: 28px;
      font-weight: 200;
      line-height: 28px;
    }
    .home--contacts__mapico,
    .home--contacts__phone,
    .home--contacts__email {
      position: relative;

      padding-top: 42px;

      font-size: 16px;
      &:before {
        position: absolute;
        top: 0;
        left: 50%;

        margin-left: -15px;

        @extend .dblock;
      }
    }
    .home--contacts__mapico,
    .home--contacts__phone {
      margin-bottom: 20px;
      padding-bottom: 20px;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 170px;
        height: 1px;
        margin-left: -85px;

        background-color: $blue-light;

        @extend .dblock;
      }
    }
    .home--contacts__mapico {
      &:before {
        margin-left: -13px;

        @include sprite($sprite-home-contacts-mapico);
      }
    }
    .home--contacts__phone {
      &:before {
        @include sprite($sprite-home-contacts-phone);
      }
      a {
        color: #fff;
        &:hover{
          color: $blue;
        }
      }
    }
    .home--contacts__email {
      &:before {
        @include sprite($sprite-home-contacts-email);
      }
      a {
        color: #fff;
      }
    }
  }
  .block-postcontact--right {
    padding-top: 34px;
    h6 {
      width: 80%;
      min-width: 300px;

      text-align: center;

      color: #000000;

      font-size: 28px;
      font-weight: 200;
      line-height: 28px;
    }
    form {
      display: flex;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 80%;
      min-width: 300px;
    }
    .block-postcontact--right__phone,
    .block-postcontact--right__email {
      position: relative;

      display: inline-block;

      width: 50%;
      margin-bottom: 10px;
      &:before{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 22px;

        margin-top: -15px;

        @extend .dblock;
      }
    }
    .block-postcontact--right__phone{
      padding-right: 10px;
      &:before {
        @include sprite($sprite-block-postcontact-right-phone);
      }
    }
    .block-postcontact--right__email {
      padding-left: 10px;
      &:before {
        @include sprite($sprite-block-postcontact-right-email);
      }
    }
    input {
      &[type=text] {
        height: 50px;
        margin: 0;
        padding-left: 52px;

        color: #6b7b83;
        border-radius: 25px;
        background-color: #ffffff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

        font-size: 16px;
      }
      &[type=submit] {
        width: 200px;
        height: 60px;
        margin: 0 auto;

        text-transform: uppercase;

        color: #ffffff;
        border-radius: 30px;
        background-color: $blue-light;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

        font-size: 16px;
        &:hover {
          background-color: $blue;
        }
      }
    }
    textarea {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;
      padding: 20px 24px;

      color: #6b7b83;
      border-radius: 16px;
      background-color: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

      font-size: 14px;
    }
  }
}
.block-sharelink {
  padding-top: 100px;
  .block-sharelink--title {
    @extend .home--blocktitle;
  }
	.block-sharelink--container {
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 80px;
  }
	.block-sharelink--ico {
    display: inline-block;
	  &:hover{
      opacity: 0.9;
	  }
	  &.block-sharelink--ico__1{
      @include sprite($sprite-block-sharelink-ico-1);
    }
    &.block-sharelink--ico__2{
      @include sprite($sprite-block-sharelink-ico-2);
    }
    &.block-sharelink--ico__3{
      @include sprite($sprite-block-sharelink-ico-3);
    }
    &.block-sharelink--ico__4{
      @include sprite($sprite-block-sharelink-ico-4);
    }
    &.block-sharelink--ico__5{
      @include sprite($sprite-block-sharelink-ico-5);
    }
    &.block-sharelink--ico__6{
      @include sprite($sprite-block-sharelink-ico-6);
    }
    &.block-sharelink--ico__7{
      @include sprite($sprite-block-sharelink-ico-7);
    }
    &.block-sharelink--ico__8{
      @include sprite($sprite-block-sharelink-ico-8);
	  }
	}
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 5px solid $base-background-color;

  @extend .clearfix;
  .inner-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    line-height: 1.4;
  }
  .date {
    display: block;
    text-align: right;
    font-size: 70%;
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 82px;

  background-color: $blue-dark;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center 20px;
  .copyright {
    margin-bottom: 20px;

    text-align: center;

    color: #ffffff;

    font-size: 12px;
    line-height: 16px;
  }
  .footer-nav {
    position: relative;

    padding-bottom: 28px;
    &:after {
      position: absolute;
      bottom: 0;

      max-width: 770px;
      height: 1px;
      margin-left: -385px;

      background-color: #026f7f;

      @extend .dblock;

    }
    ul {
      text-align: center;
    }
    li {
      display: inline-block;

      margin-right: 10px;
      margin-left: 10px;
      &:after {
        position: absolute;
        right: -10px;
        bottom: 0;

        width: 1px;
        height: 14px;

        background-color: #a3b7bd;

        @extend .dblock;

      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        height: 16px;
        padding-right: 10px;
        padding-left: 10px;

        color: #a3b7bd;

        font-size: 16px;
        line-height: 16px;
        &:hover{
          text-decoration: underline;

          color: darken(#a3b7bd, 15%);
        }
      }
    }
  }

  .footer--contacts {
    display: flex;
    align-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    text-align: center;

    color: #ffffff;

    font-size: 12px;
    line-height: 16px;
    a{
      color: #ffffff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer--contacts__adress,
  .footer--contacts__phone,
  .footer--contacts__email {
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 25%;
    height: 28px;

    text-align: center;
    &:before {
      display: inline-block;

      margin-right: 10px;

      content: '';
    }
  }
  .footer--contacts__adress {
    justify-content: flex-end;
    &:before {
      @include sprite($sprite-footer-contacts-adress);
    }
  }
  .footer--contacts__phone {
    &:before {
      @include sprite($sprite-footer-contacts-phone);
    }
  }
  .footer--contacts__email {
    justify-content: flex-start;
    &:before {
      @include sprite($sprite-footer-contacts-email);
    }

  }
}

@import "media";

@import "fonts/font_headline";
@import "fonts/font_pfdin";
@import "import/base64";
@import "import/print";
