@font-face {
    font-family: 'Headline';
    src: url('../fonts/hinted-Headline.eot');
    src: local('Headline'),
        url('../fonts/hinted-Headline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Headline.woff2') format('woff2'),
        url('../fonts/hinted-Headline.woff') format('woff'),
        url('../fonts/hinted-Headline.ttf') format('truetype'),
        url('../fonts/hinted-Headline.svg#Headline') format('svg');
    font-weight: normal;
    font-style: normal;
}

